@charset "UTF-8";
.joeColor {
    background-color: red;
}
.joeFeature {
    font-family: ArtifexCF-Regular;
    background-image: linear-gradient(#fffbf8, white);
}
.featureButton {
    font-family: ArtifexCF-Heavy;
    font-weight: 1200 !important;
    text-transform: none;
    font-size: 1.18571em !important;
    line-height: 1.6 !important;
    background: black;
    border: 2px solid black;
    color: #fff;
    letter-spacing: normal;
}
.featureButton:hover {
    background: #69b0be;
    border: 2px solid #69b0be;
}
.joeFooterNav {
    background-color: #f0d4b2;
}
.joeFooterNav:hover {
    color: red !important;
}
.joeMenuNav {
    background-color: #f0d4b2;
}
.hoverLineWhite a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition:
        width 0.3s ease 0s,
        left 0.3s ease 0s;
    width: 0;
}
.hoverLineWhite a:hover:after {
    width: 100%;
    left: 0;
}
.hoverLineDark a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #69b0be;
    transition:
        width 0.3s ease 0s,
        left 0.3s ease 0s;
    width: 0;
}
.hoverLineDark a:hover:after {
    width: 100%;
    left: 0;
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
.site-nav--active .link-container:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: #69b0be;
    transition:
        width 0.3s ease 0s,
        left 0.3s ease 0s;
    width: 100%;
}
.product-name {
    font-family: ArtifexCF-Regular;
    text-transform: none !important;
}
.product-price {
    font-family: ArtifexCF-Regular;
    color: #000 !important;
}
.buttonStyling {
    font-family: ArtifexCF-Heavy !important;
    color: #000;
}
.buttonStylingIntegral,
.buttonStylingIntegral-black {
    letter-spacing: 0.4em !important;
    font-family: IntegralCF-Regular !important;
}

.noWrap {
    white-space: nowrap;
}

.joeFooter {
    background-color: #fff;
}
.spotifyColor {
    color: #a4647f;
}
.superLightBlue {
    color: #b8c8e0;
}
.offPurple {
    color: #3e395f;
}
.logoPurple {
    color: #986b75;
}
.bigFeatureButton {
    opacity: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: IntegralCF-Regular;
    text-transform: uppercase;
    color: #fff;
    font-weight: 1200 !important;
    font-size: 1.18571em;
    line-height: 1.6;
    letter-spacing: normal;
    background: #69b0be;
    padding: 35px 15px;
    cursor: pointer;
}
.bigFeatureButton:hover {
    opacity: 1;
    color: #fff !important;
}
.so-tab {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
    color: #000;
}
.so-tab label {
    position: relative;
    display: block;
    padding: 0 0 0 25px;
    margin-bottom: 15px;
    line-height: normal;
    cursor: pointer;
    color: #000;
}
.so-tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.so-tab-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s;
}
.so-tab input:checked ~ .so-tab-content {
    max-height: none;
}
.so-tab label:after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}
.so-tab input[type="checkbox"] + label:after {
    content: "+";
    font-weight: 700;
}
.so-tab input[type="radio"] + label:after {
    content: "\25bc";
}
.so-tab input[type="checkbox"]:checked + label:after {
    transform: rotate(315deg);
}
.so-tab input[type="radio"]:checked + label:after {
    transform: rotateX(180deg);
}
.js-drawer-close-center {
    margin: auto;
}
.site-header .wrapper {
    padding: 0 20px;
}
@media screen and (max-width: 480px) {
    .site-header .wrapper {
        padding: 0 10px;
    }
    .site-header .wrapper .tpd-centered-header {
        gap: 0px;
    }
}
.site-header .tpd-centered-header {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(60px, auto) minmax(auto, 800px) minmax(60px, auto);
    align-items: center;
    justify-items: center;
}
.site-header .tpd-centered-header .tpd-centered-logo {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}
.site-header .tpd-centered-header .tpd-centered-logo img {
    display: block;
}
.site-header .tpd-centered-header .center-menu {
    grid-row: 1/2;
}
.site-header .tpd-centered-header .center-menu.logoPresent {
    grid-row: 2/3;
}
.site-header .tpd-centered-header .tpd-hamburger {
    grid-column: 1/2;
    grid-row: 1/2;
}
.site-header .tpd-centered-header .tpd-cart {
    grid-column: 3/4;
    grid-row: 1/2;
}
.site-header .tpd-centered-header .tpd-cart .cart-user-box {
    margin: 0;
    opacity: 0.8;
}
.site-header .tpd-centered-header .tpd-cart .cart-user-box .site-header__cart-toggle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.centerForms {
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center !important;
}
.center {
    text-align: center;
}
.noCaps {
    text-transform: none !important;
}
.Caps {
    text-transform: uppercase !important;
}
.fontSize1 {
    font-size: 1.18571em !important;
}
.fontSize2 {
    font-size: 2.18571em !important;
}
.skyBlue {
    color: #62aebd !important;
}
.bold {
    font-weight: 700 !important;
}
.popup {
    position: relative;
    display: inline;
    cursor: pointer;
}
.popup .popuptext {
    visibility: hidden;
    width: auto;
    justify-content: center;
    background-color: #555;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.popup .popuptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.MomentButton {
    display: inline-block;
    text-transform: none;
    background: red;
    color: #fff;
    letter-spacing: normal;
}
.descriptionLink :link {
    text-decoration: underline;
}
.description {
    margin-left: 25px;
}
.shipping {
    margin-left: -1px !important;
}
.listCondense {
    line-height: 20px;
}
.centerGrid {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.sendButton {
    font-family: IntegralCF-Regular;
    font-size: 1.18571em !important;
    line-height: 1.6 !important;
    background: #69b0be;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: #fff;
    letter-spacing: 1px;
}
.sendButton:hover {
    background: #f8e8e6;
    color: #fff;
    border: 0px;
}
.poem {
    text-align: center;
}
@media all and (max-width: 700px) {
    .poem {
        text-align: left;
        font-size: 10px;
        padding-left: 15px;
        color: #000;
    }
}
.poemText {
    display: inline-block;
    text-align: left;
}
.BluePinkLink {
    color: #62aebd !important;
}
.BluePinkLink:hover {
    color: #f8e8e6 !important;
}
.rotate {
    display: none;
}
@media all and (max-width: 480px) {
    .rotate {
        display: block;
    }
}
.rotate {
    position: fixed;
    z-index: 1;
    margin-left: auto;
    border-radius: 25px;
    margin-right: auto;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    overflow: auto;
    background-color: #69b0bef2;
    box-shadow: 0 0 55px #8c8c8c;
}
.modal-content {
    text-align: center;
    font-family: ArtifexCF-Heavy;
    font-weight: 1200 !important;
    font-size: 40px;
    padding: 55px;
    color: #fff;
    line-height: 1;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.rotateImage {
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: none;
}
.progress-container {
    width: 100%;
    height: 6px;
    background: none;
}
.progress-bar {
    height: 6px;
    background: #69b0be;
    width: 0%;
}
.PhilosophyPageButton {
    border-radius: 15px !important;
    padding: 15px 0 !important;
    font-family: ArtifexCF-Heavy;
    font-weight: 1200 !important;
    margin-left: auto;
    margin-right: auto;
    text-transform: none !important;
    font-size: 1.05em !important;
    line-height: 1.6 !important;
    background: #69b0be !important;
    display: flex;
    color: #fff !important;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.PhilosophyPageButton:hover {
    font-family: ArtifexCF-Heavy !important;
    font-weight: 1200 !important;
    text-transform: none !important;
    background: #f8e8e6 !important;
    color: #fff !important;
    letter-spacing: normal !important;
    cursor: pointer !important;
}
@media all and (max-width: 800px) {
    .PhilosophyPageButton {
        width: 300px;
    }
}
.arrow {
    border: 2px solid red;
    border-radius: 8px;
    width: 20px;
    height: 15px;
    display: inline;
}
#NavDrawer.drawer--left {
    box-shadow: 1px 0 10px 5px #0000001a;
}
#NavDrawer.drawer--left .drawer__container {
    min-height: 100%;
}
#NavDrawer.drawer--left .drawer__container .drawer-social {
    padding: 60px 20px 20px;
}
#NavDrawer.drawer--left .drawer__container .drawer-social .social-list {
    display: flex;
    justify-content: space-between;
}
#NavDrawer.drawer--left .drawer__container .drawer-social .social-list li {
    margin: 0;
}
body.template-product .main-content {
    max-width: 1500px;
}
section.section-product {
    margin-top: 0 !important;
}
section.section-product .product-description,
section.section-product .product-share-links,
section.section-product .standard-single {
    border-color: #eee !important;
}
@media all and (min-width: 769px) {
    .product-single .grid__item {
        padding-left: 80px;
    }
}
#slider.featured-area .slides {
    height: 60vh !important;
    position: relative;
    overflow: hidden;
}
@media all and (max-width: 1200px) {
    #slider.featured-area .slides {
        height: 55vh !important;
    }
}
@media all and (max-width: 860px) {
    #slider.featured-area .slides {
        height: 45vh !important;
    }
}
#slider.featured-area .slides li .product-single__media-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#slider.featured-area .slides li .product-single__media-wrapper .product-single__media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 !important;
    overflow: hidden;
}
#slider.featured-area .slides li .product-single__media-wrapper .product-single__media img {
    object-fit: contain;
}
.cloak {
    display: none;
}
.show {
    opacity: 1;
    transition-duration: 4s;
}
#ProductThumbs.main-carousel {
    margin-bottom: 15px;
}
@media all and (max-width: 768px) {
    #carousel .flickity-viewport {
        max-height: 0px;
        overflow: hidden;
    }
    #carousel .flickity-button {
        opacity: 0 !important;
    }
    #carousel.showMe .flickity-viewport {
        max-height: 90px;
        transition: max-height 1s ease-in-out;
    }
    #carousel.showMe .flickity-button {
        opacity: 1 !important;
        transition: opacity 1s ease-in-out 0.4s;
    }
    #tpd-product-info > div {
        opacity: 0;
    }
    #tpd-product-info h1 {
        border: none !important;
        text-align: center;
        position: relative;
        top: -60px;
        white-space: nowrap;
        width: 100%;
    }
    #tpd-product-info.showMe > div {
        opacity: 1;
        transition: all 1s ease-in-out 1s;
    }
    #tpd-product-info.showMe h1 {
        transition: all 1s ease-in-out 0.5s;
        width: 0%;
        top: 0;
    }
    .product__photo-zoom {
        opacity: 0;
    }
    .product__photo-zoom.showMe {
        opacity: 1;
        transition: all 1s ease-in-out 2s;
    }
}
.flickity-slider .carousel-cell {
    height: 140px;
    width: 140px;
    margin: 0 !important;
}
.flickity-slider .carousel-cell img {
    width: 140px !important;
    height: 140px !important;
    object-fit: cover;
}
@media all and (max-width: 1200px) {
    .flickity-slider .carousel-cell {
        height: 90px;
        width: 90px;
    }
    .flickity-slider .carousel-cell img {
        width: 90px !important;
        height: 90px !important;
    }
}
@media all and (max-width: 900px) {
    .flickity-slider .carousel-cell {
        height: 90px;
        width: 90px;
    }
    .flickity-slider .carousel-cell img {
        width: 90px !important;
        height: 90px !important;
    }
}
button.flickity-button {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}
button.flickity-button:hover {
    background: rgba(255, 255, 255, 0.8);
}
button.flickity-button:disabled {
    display: none;
    cursor: auto;
    pointer-events: none;
}
button.flickity-button .flickity-button-icon {
    width: 45%;
    height: 45%;
    left: 28%;
    top: 28%;
}
button.flickity-button.next {
    right: -30px !important;
}
button.flickity-button.previous {
    left: -30px !important;
}
.pswp__scroll-wrap button.pswp__button,
.pswp__scroll-wrap button.pswp__button:active,
.pswp__scroll-wrap button.pswp__button:hover {
    color: #fff !important;
}
@media all and (max-width: 800px) {
    .productNameMobile {
        font-size: 30px !important;
    }
}
@media all and (max-width: 800px) {
    .productNameMobileBeforeReveal {
        text-align: center !important;
        margin: auto !important;
        padding-bottom: 100px !important;
        letter-spacing: -1px !important;
    }
}
body.template-cart .grid__item {
    float: none;
}
body.template-cart .cart-page .cart-table {
    margin-top: 80px;
    display: grid;
    row-gap: 40px;
    column-gap: 20px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
}
body.template-cart .cart-page .cart-table .product {
    display: grid;
    grid-template-columns: minmax(200px, auto) auto;
    column-gap: 20px;
    align-items: center;
}
body.template-cart .cart-page .cart-table .product .cart__info {
    margin: 0;
}
body.template-cart .cart-page .cart-table .quantity {
    text-align: center;
}
body.template-cart .cart-page .cart-table .quantity input {
    width: 80px;
}
@media all and (max-width: 768px) {
    body.template-cart .cart-page .cart-table {
        grid-template-columns: auto 80px;
        align-items: center;
    }
    body.template-cart .cart-page .cart-table .product {
        align-items: center;
        grid-template-columns: 1fr 2fr;
    }
    body.template-cart .cart-page .cart-table .table-header,
    body.template-cart .cart-page .cart-table .data-price,
    body.template-cart .cart-page .cart-table .total-price {
        display: none;
    }
}
@media all and (max-width: 480px) {
    body.template-cart .cart-page .cart-table .product .cart__image {
        padding: 0;
    }
    body.template-cart .cart-page .cart-table .product .resp-img {
        margin: 0 !important;
    }
}
body.template-cart .cart-page .checkout-buttons-section {
    display: grid;
    grid-template-columns: auto minmax(auto, 500px);
    margin-left: 0;
}
body.template-cart .cart-page .checkout-buttons-section .sub-total-checkout {
    grid-column: 2/3;
    padding-left: 0;
    float: none;
}
@media all and (max-width: 850px) {
    body.template-cart .cart-page .checkout-buttons-section .sub-total-checkout {
        grid-column: 1/3;
    }
}
body.template-cart .cart-page .checkout-buttons-section .sub-total-checkout .grid__item {
    padding-left: 0;
}
body.template-cart .cart-page .checkout-buttons-section .grid--half-gutter {
    grid-column: 2/3;
    margin-left: 0;
    float: none;
}
@media all and (max-width: 850px) {
    body.template-cart .cart-page .checkout-buttons-section .grid--half-gutter {
        grid-column: 1/3;
    }
}
body.template-cart .cart-page .checkout-buttons-section .grid--half-gutter .grid__item {
    padding: 0;
}
body.template-page .large--one-half {
    float: none;
    margin: auto;
}
.template-index header.hero-active .arrow-holder {
    position: relative;
    bottom: 15% !important;
}
@media all and (max-width: 499px) {
    .template-index header.hero-active .arrow-holder {
        bottom: 200px !important;
    }
}
.template-index header.hero-active .arrow-holder .arrow {
    width: 55px;
    height: 55px;
    padding: 0;
}
.template-index header.hero-active .arrow-holder .arrow .icon {
    fill: #62aebd;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
@media all and (max-width: 1200px) {
    .featureImageAdjust {
        height: 15vh !important;
    }
}
.philosophyBG {
    background-image: url(/cdn/shop/files/PhilosophyBG_raw.gif?v=1626988041);
    length: 100%;
    background-size: cover;
}
.frontPoem {
    color: #2b2b2b;
    padding-top: 200px;
    padding-bottom: 300px;
    font-size: 25px;
    white-space: nowrap;
}
.frontPoem:hover {
    cursor: pointer !important;
}
@media all and (max-width: 780px) {
    .frontPoem {
        font-size: 23px;
    }
}
@media all and (max-width: 700px) {
    .frontPoem {
        font-size: 20px;
    }
}
@media all and (max-width: 600px) {
    .frontPoem {
        font-size: 25px;
        padding-top: 125px;
        padding-bottom: 215px;
    }
}
@media all and (max-width: 400px) {
    .frontPoem {
        font-size: 20px;
    }
}
@media all and (max-height: 500px) {
    .frontPoem {
        padding-top: 5px;
    }
}
.sizeImage {
    width: 12%;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
@media all and (max-width: 600px) {
    .sizeImage {
        width: 45%;
    }
}
br.responsive {
    display: inline;
}
@media (min-width: 601px) {
    br.responsive {
        display: none;
    }
}
.peach {
    color: #edd6db;
}
.centerPoem {
    margin: auto;
    text-align: center;
}
.singleHover:hover {
    color: #f8e8e6;
}
.tinyText {
    font-size: 15px;
    padding-top: 45px;
    color: #f8e8e6;
    font-family: IntegralCF-Regular;
    margin: auto;
    text-align: center;
}
@media all and (max-width: 600px) {
    .tinyText {
        font-size: 11px;
    }
}
.tinyText:hover {
    color: #2b2b2b;
}
.tpmContainer {
    width: 100%;
}
.tpmBanner {
    background-image: url(/cdn/shop/files/TPM-Page-Banner_animated-revise.gif?v=1627677111);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media all and (max-width: 900px) {
    .tpmBanner {
        background-size: 1000px;
    }
}
@media all and (max-width: 700px) {
    .tpmBanner {
        background-size: 800px;
    }
}
@media all and (max-width: 500px) {
    .tpmBanner {
        background-size: 600px;
    }
}
.tpmBanner:hover {
    cursor: pointer !important;
}
.nullSet {
    visibility: hidden;
    z-index: 0;
}
@media all and (max-width: 900px) {
    .nullSet {
        width: 1000px;
        height: 558px;
    }
}
@media all and (max-width: 700px) {
    .nullSet {
        width: 800px;
        height: 446px;
    }
}
@media all and (max-width: 500px) {
    .nullSet {
        width: 600px;
        height: 335px;
    }
}
.tpmButtonContainer {
    vertical-align: center;
    z-index: 1;
}
.tpmButton {
    z-index: 2;
    opacity: 0;
    margin: auto;
    align-items: center;
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-family: ArtifexCF-Heavy;
    text-transform: uppercase;
    color: #fff;
    font-weight: 1200 !important;
    font-size: 1.18571em;
    line-height: 1.6;
    letter-spacing: normal;
    background: #69b0be;
    padding: 35px 15px;
    cursor: pointer;
}
.tpmButton:hover {
    opacity: 1;
    color: #fff !important;
}
.btnPinkHover:hover {
    background: #f8e8e6 !important;
    border-color: #f8e8e6 !important;
}
.writingTable {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    position: relative;
}
.tpmCollection {
    display: grid;
    max-width: 600px;
    margin: auto;
    padding-top: 25px;
}
.tpmCollection .tpmRow {
    position: relative;
    border-radius: 100px;
    height: 200px;
    background-color: #f9fdff;
    margin: auto 0 45px;
}
.tpmCollection .tpmRow a {
    display: block;
    height: 100%;
}
.tpmCollection .tpmRow .tpmRowInner {
    height: 100%;
    grid-column-gap: 0px;
    display: grid;
    grid-template-columns: 200px 1fr;
}
.tpmCollection .tpmRow .tpmRowInner .tpmThumbnail {
    border-radius: 100%;
    grid-column: 1/2;
    z-index: 2;
    overflow: hidden;
}
.tpmCollection .tpmRow .tpmRowInner .tpmThumbnail img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tpmCollection .tpmRow .tpmRowInner .tpmInfo {
    grid-column: 2/3;
    padding: 16px 18% 16px 8%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    z-index: 2;
}
.tpmCollection .tpmRow .tpmRowInner .tpmInfo .tpmTitle {
    font-family: IntegralCF-Regular;
    letter-spacing: 2px;
    line-height: 16px;
    padding-bottom: 3px;
    font-weight: 700;
    color: #1a1c2b;
}
.tpmCollection .tpmRow .tpmRowInner .tpmInfo .tpmSubheading {
    line-height: 1;
}
.tpmCollection .tpmRow .tpmRowInner .tpmInfo .date {
    align-self: bottom;
    font-family: ArtifexCF-Regular;
    font-size: 14px;
    align-self: flex-end;
}
.tpmCollection .tpmRow:before {
    content: "";
    background-image: url(/assets/Glowing-Button_DiffColors_2.gif);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
}
.tpmCollection .tpmRow:hover {
    background-color: #fff8ff;
}
.tpmCollection .tpmRow:hover .tpmInfo .tpmSubheading,
.tpmCollection .tpmRow:hover .tpmInfo .date {
    color: #000;
}
.tpmCollection .tpmRow:hover .tpmInfo .tpmTitle {
    color: #364aa4;
}
.tpmCollection .tpmRow:hover:before {
    opacity: 1;
}
@media all and (max-width: 580px) {
    .tpmCollection .tpmRow {
        border-radius: 25px;
        margin-bottom: 30px;
        height: auto;
        background-color: transparent;
    }
    .tpmCollection .tpmRow .tpmRowInner {
        height: 140px !important;
        grid-template-columns: 140px 1fr;
    }
    .tpmCollection .tpmRow .tpmRowInner .tpmThumbnail {
        height: 140px !important;
        border-radius: 100%;
    }
    .tpmCollection .tpmRow .tpmRowInner .tpmInfo {
        grid-template-rows: auto auto auto;
        padding: 8px 8%;
    }
}
.pageFlyMobileHeader {
    font-family: ArtifexCF-Regular !important;
    color: #2b2b2b !important;
    font-size: 20px !important;
    line-height: 30px;
}
.pageflywiden {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}
.sizeImagePhilo {
    width: 100px;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 55px;
    padding-bottom: 65px;
}
.sizeImagePhiloAlt {
    width: 250px;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 25px;
    padding-bottom: 65px;
}
.svg-icon.search-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.svg-icon.search-icon .search-path {
    stroke: #000;
    stroke-width: 2px;
}
.btn.product__photo-zoom {
    display: none;
}
@media all and (max-width: 768px) {
    .btn.product__photo-zoom {
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 0;
        right: 0;
        width: 44px;
        height: 44px;
        border-radius: 100%;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #a0a0a0;
    }
    .btn.product__photo-zoom:hover {
        cursor: zoom-in;
        border: 1px solid black;
    }
    .btn.product__photo-zoom:hover .svg-icon.search-icon .search-path {
        stroke: #69b0be;
    }
}
input.focus-visible {
    outline-color: #69b0be !important;
}
#product-hero-parallax {
    z-index: 0;
    background-image: none;
}
.shippingPage {
    font-family: ArtifexCF-Regular !important;
    margin-left: 100px !important;
    margin-right: 100px !important;
}
@media all and (max-width: 780px) {
    .shippingPage {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}
@media all and (max-width: 500px) {
    .shippingPage {
        margin-left: 3px !important;
        margin-right: 3px !important;
    }
}
.supportPage {
    font-family: ArtifexCF-Regular !important;
}
.supportLink {
    color: #69b0be !important;
}
.supportLink:hover {
    color: #000 !important;
    font-weight: 700;
}
.thankYou {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.supportPage img {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 130px !important;
}
.shipTitle {
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.portoflioVids {
    border-radius: 100px;
    opacity: 0.75;
}
.portoflioVids:hover {
    opacity: 1;
}
.ctaQ {
    margin-top: 25px;
    margin-bottom: 55px;
    color: #62aebd !important;
}
.ctaQ a {
    color: #62aebd !important;
}
.ctaQ:hover a {
    color: #f8e8e6 !important;
}
.hrSmall {
    border-top: 0.5px solid;
    opacity: 0.2;
}
.hrSmallBlue {
    border-top: 1.5px solid;
    opacity: 0.5;
}
.indent {
    margin-left: 35px;
}
.body {
    font-family: Artifex CF Regular;
}
@-webkit-keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translatey(30px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}
.holograph {
    max-width: 1200px;
    margin: auto;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 2fr;
}
@media all and (max-width: 699px) {
    .holograph {
        grid-template-columns: 1fr;
        grid-template-rows: 300px auto;
    }
}
.holograph div {
    padding: 5px;
}
.holograph .holograph-left {
    grid-column: 1/2;
    display: block;
    height: 100%;
    border: 1px solid #eeeeee;
    font-family: Artifex CF Regular;
    height: 300px;
    position: relative;
    padding: 0;
}
@media all and (max-width: 699px) {
    .holograph .holograph-left {
        grid-column: 1/1;
        grid-row: 1/2;
    }
}
.holograph .holograph-left:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
    height: 40px;
    pointer-events: none;
}
.holograph .holograph-left #rolodex {
    box-sizing: border-box;
    padding: 10px 10px 40px;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    font-size: 50px;
}
.holograph .holograph-left #rolodex .angle {
    font-family: ArtifexCF-Regular;
    font-size: 50px;
    border: 12px;
    background: transparent;
    text-align: left;
}
.holograph .holograph-left #rolodex .angle.Active {
    color: #62aebd;
}
.holograph .holograph-right {
    grid-row: 1/1;
    grid-column: 2/3;
    display: grid;
}
@media all and (max-width: 699px) {
    .holograph .holograph-right {
        grid-column: 1/1;
        grid-row: 2/3;
    }
}
.holograph .holograph-right .content {
    grid-row: 1/1;
    grid-column: 1/1;
    opacity: 0;
}
.holograph .holograph-right .content #eddieCabbage {
    position: relative;
    max-width: 100%;
    display: grid;
}
.holograph .holograph-right .content #eddieCabbage img {
    grid-row: 1/1;
    grid-column: 1/1;
    max-width: 100%;
    display: block;
}
.holograph .holograph-right .content #eddieCabbage img.typewriter:hover {
    opacity: 0;
    transition: opacity 2s;
}
.holograph .holograph-right .content.Active {
    opacity: 1;
    animation: fadeUp ease-in-out 0.5s;
}
::-webkit-scrollbar {
    display: none;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.centerStuff {
    justify-content: center;
    text-align: center;
}
.accordion {
    cursor: pointer;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
.active,
.accordion:hover {
    background-color: #ccc;
}
.wordPanel {
    padding: 0 18px;
    display: none;
    background-color: #fff;
    overflow: hidden;
}
.skyBlue {
    color: #62aebd;
}
.theQuestion {
    font-size: 35px;
    font-weight: 700;
}
.footnote {
    font-size: 10px;
}
.aboutSection1 {
    background-color: #f8e8e6 !important;
    width: 100vw;
    height: 100%;
    margin-left: calc(-50vw + 50%);
}
.aboutSection3 {
    background-color: red !important;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.aboutSection4 {
    background-color: #62aebd !important;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.aboutSection {
    margin-left: calc(50% - 50vw) !important;
    width: 100vw !important;
    display: inline-block;
}
.section1 {
    background-image: linear-gradient(white, white);
}
.aboutTitle {
    font-family: IntegralCF-Regular;
    padding-top: 5px;
}
.bigwords {
    font-size: 45px;
    line-height: 40px;
    margin-top: 10px;
}
.spacedAndSmall {
    letter-spacing: 5px;
}
.sizeImageAbout {
    width: 76px;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
    bottom: 25px;
}
.section2 {
    background-image: linear-gradient(white, #f5fdff);
    margin-bottom: 0 !important;
    margin-top: -25px !important;
}
.summary {
    line-height: 12px;
}
.firstLine {
    text-align: center;
}
.secondLine {
    color: #62aebd;
    opacity: 1;
    text-align: center;
}
@media all and (max-width: 700px) {
    .secondLine {
        line-height: 20px;
    }
}
.summaryLines {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.section3 {
    background-image: url(/assets/AFX-BG_About-BG_flipped.gif);
    background-size: cover;
}
.letter {
    margin-left: 150px !important;
    margin-right: 150px !important;
    padding: 25px;
    font-size: 15px;
    background-color: #f5fdff !important;
}
@media all and (max-width: 700px) {
    .letter {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}
.sectionPrismPic {
    height: 350px;
    background-color: red;
}
.holder {
    background-image: url(/cdn/shop/files/Comp-1.gif?v=1629158076);
    background-size: contain;
}
.playground {
    font-family: ArtifexCF-Heavy !important;
    background-image: url(/cdn/shop/files/Comp-1.gif?v=1629158076);
    text-align: center;
    color: #fff !important;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sizeUp {
    font-size: 40px;
    font-family: IntegralCF-Regular !important;
}
.reveal {
    padding: 10px 25px;
    border-radius: 25px;
    text-align: left;
    background-color: #fff;
    color: #000;
}
input + label + .reveal {
    display: none;
}
input:checked + label + .reveal {
    display: block;
}
.sectionNew {
    background-color: red;
    height: 600px;
}
.spaceFixer {
    background-color: #fff;
    height: 400px;
}
.explanation {
    padding-left: 150px;
    padding-right: 150px;
    border-color: #62aebd !important;
    border-radius: 4px;
    border-style: solid;
}
.miniPoem {
    margin: auto;
    text-align: center;
    color: #2b2b2b;
    padding-bottom: 0;
    background-image: linear-gradient(#f5fdff, white);
    padding-top: 100px;
    font-size: 25px;
    white-space: nowrap;
}
@media all and (max-width: 780px) {
    .miniPoem {
        font-size: 23px;
    }
}
@media all and (max-width: 700px) {
    .miniPoem {
        font-size: 20px;
    }
}
@media all and (max-width: 600px) {
    .miniPoem {
        font-size: 25px;
        padding-top: 100px;
        padding-bottom: 0;
    }
}
@media all and (max-width: 400px) {
    .miniPoem {
        font-size: 20px;
    }
}
@media all and (max-height: 500px) {
    .miniPoem {
        padding-top: 5px;
    }
}
.awe {
    padding-top: 50px;
    font-family: IntegralCF-Regular;
    font-size: 65px;
    letter-spacing: 5px;
    color: #62aebd;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
@media all and (max-width: 600px) {
    .awe {
        line-height: 55px;
    }
}
.section5 {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
}
.arrowSpark {
    position: relative;
    top: 120px;
}
.JoinAwe {
    margin: auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    color: #62aebd;
    font-family: IntegralCF-Regular;
}
.JoinAwe:hover {
    color: #000;
    cursor: pointer !important;
}
.tinyTextFront {
    font-size: 18px;
    padding-top: 15px;
    color: #f8e8e6;
    font-family: ArtifexCF-Regular;
    margin: auto;
    cursor: pointer !important;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
    opacity: 0.6;
}
@media all and (max-width: 600px) {
    .tinyTextFront {
        font-size: 15px;
    }
}
.tinyTextFront:hover {
    color: #62aebd;
}
.JoinAwePanel {
    color: #2b2b2b;
    padding-top: 200px;
    padding-bottom: 70px;
    font-size: 25px;
    white-space: nowrap;
}
@media all and (max-width: 780px) {
    .JoinAwePanel {
        font-size: 23px;
    }
}
@media all and (max-width: 700px) {
    .JoinAwePanel {
        font-size: 20px;
    }
}
@media all and (max-width: 600px) {
    .JoinAwePanel {
        font-size: 25px;
        padding-top: 125px;
        padding-bottom: 215px;
    }
}
@media all and (max-width: 400px) {
    .JoinAwePanel {
        font-size: 20px;
    }
}
@media all and (max-height: 500px) {
    .JoinAwePanel {
        padding-top: 5px;
    }
}
.tinyGlow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    justfiy-content: center;
}
.tinyGlow:hover {
    cursor: pointer !important;
}
.tinyGlow img {
    height: 30px;
}
.wereHere img {
    height: 50px;
}
.tpmBeads {
    text-align: center;
}
.tpmBeads img {
    display: inline-block;
    height: 300px;
    width: 300px;
    text-align: center;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#futureBead1,
#futureBead2,
#futureBead3,
#pastBead1,
#pastBead2,
#pastBead3 {
    display: none;
    height: 90px;
    width: 90px;
    vertical-align: middle;
}
.TPMsummary {
    margin: 75px 45px 35px !important;
}
@media all and (max-width: 600px) {
    .TPMsummary {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}
@media all and (max-width: 500px) {
    .TPMsummary {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
}
.emojiSeq {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}
.emojiSeq img {
    padding-top: 20px;
    height: 115px;
    cursor: pointer !important;
}
.emailaddress a {
    cursor: pointer !important;
    color: #62aebd !important;
    position: relative;
    size: 45px !important;
    bottom: 55px;
}
.emailaddress a:hover,
.black {
    color: #000 !important;
}
.artifexBold {
    font-family: ArtifexCF-Bold;
}
.creativeTitle {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.creativeTitle img {
    height: 25px;
}
.footer-firstrow {
    padding-left: 0;
    padding-right: 0;
}
@media only screen and (min-width: 769px) {
    .footer-firstrow.large--two-thirds {
        width: 100%;
    }
}
@media only screen and (max-width: 400px) {
    .footer-firstrow ul.footer-nav {
        display: block;
    }
}
.subHolder {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}
.subContent {
    margin-left: auto;
    margin-right: auto;
}
.subscribeButton {
    font-family: ArtifexCF-Regular;
    text-transform: none !important;
    font-face: none !important;
    font-size: 1.18571em !important;
    line-height: 1.6 !important;
    background: #69b0be;
    border: 0px !important;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    border-radius: 10px !important;
    padding-right: 5px;
    letter-spacing: normal;
    justify-content: center;
}
.subscribeButton:hover {
    background: #f8e8e6;
    color: #fff;
    border: 0px !important;
}
.centerSubmit {
    text-align: center;
}
body#ecco .tpd-centered-header .center-menu,
body#ecco .tpd-centered-header .tpd-hamburger {
    display: none !important;
}
body#ecco footer.site-footer {
    display: none;
}
body#ecco div.welcome .eccoText {
    font-size: 12.5pt;
}
body#ecco .formFooter {
    display: none !important;
}
body#ecco input,
body#ecco textarea {
    text-transform: initial !important;
    font-family: ArtifexCF-Regular !important;
    font-size: 12.5pt !important;
}
body#ecco form {
    background-color: #fff;
}
body#ecco form .form-all {
    margin-top: 0;
    box-shadow: none;
    max-width: 600px;
}
body#ecco form .form-line {
    padding-top: 0;
    padding-bottom: 0;
}
body#ecco form .form-line label.form-label.form-label-auto {
    display: none;
}
body#ecco form .form-line-active {
    background-color: transparent;
}
body#ecco .form-buttons-wrapper {
    border: none !important;
}
body#ecco .form-input-wide {
    width: 100% !important;
}
button.jf-form-buttons,
button.jf-form-buttons:hover {
    background-color: #69b0be;
    font-family: ArtifexCF-Regular !important;
    font-size: 12.5pt !important;
    border: 0px !important;
    width: 100%;
}
.eccoThanks {
    margin-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 25px;
    border: 1px;
    border-color: #69b0be;
}
/*# sourceMappingURL=/cdn/shop/t/10/assets/presentdimension.scss.css.map?v=85693230075911275571641935279 */
