body {
}

.form-container.AddToCartForm {
    --payment-terms-background-color: #ffffff;
}

.tpmBanner {
    img {
        width: 100%;
    }
}

.slick-list {
    height: 60vh;
    background-color: blue;
    img {
        object-fit: cover;
        height: 60vh;
    }
}

.tinyGlow {
    text-align: center;
}
img.center {
    margin: auto;
}

.link-container {
    font-family: Arial, Helvetica, sans-serif !important;
}

@font-face {
    font-family: "ArtifexCF-Regular";
    src: url("/fonts/ArtifexCF-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ArtifexCF-RegularItalic";
    src: url("/fonts/ArtifexCF-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ArtifexCF-ExtraBold";
    src: url("/fonts/ArtifexCF-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "ArtifexCF-Heavy";
    src: url("/fonts/ArtifexCF-Heavy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ArtifexCF-ExtraLight";
    src: url("./fonts/ArtifexCF-ExtraLight.woff");
    font-weight: normal;
    font-style: normal;
}


// @font-face {
//     font-family: "IntegralCF-Regular";
//     src: url(" /cdn/shop/t/10/assets/IntegralCF-Regular.woff?v=131294448930146841131624554811 ");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "IntegralCF-RegularOblique";
//     src: url(" /cdn/shop/t/10/assets/IntegralCF-RegularOblique.woff?v=36547832180735467181629215934 ");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "IntegralCF-Medium";
//     src: url(" /cdn/shop/t/10/assets/IntegralCF-Medium.woff?v=116453833690443665231624970909 ");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "IntegralCF-Heavy";
//     src: url(" /cdn/shop/t/10/assets/IntegralCF-Heavy.woff?v=107722034963211256781627572509 ");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "IntegralCF-HeavyOblique";
//     src: url(" /cdn/shop/t/10/assets/IntegralCF-HeavyOblique.woff?v=131058177530269781651627572518 ");
//     font-weight: normal;
//     font-style: normal;
// }

.ArtifexRegular {
    font-family: "ArtifexCF-Regular" !important;
}

.ArtifexRegularWhite {
    font-family: "ArtifexRegular";
    color: #fff !important;
}

.White {
    color: #fff !important;
}

.ArtifexRegularNoCaps {
    font-family: "ArtifexCF-Regular" !important;
    text-transform: none !important;
}
.ArtifexHeavy {
    font-family: "ArtifexCF-Heavy" !important;
}
.ArtifexHeavySpaced {
    font-family: "ArtifexCF-Heavy";
    letter-spacing: 2px;
}

.ArtifexLight {
    font-family: "ArtifexCF-ExtraLight";
}

.ArtifexItalic {
    font-family: "ArtifexCF-RegularItalic";
}

.IntegralRegular {
    font-family: "IntegralCF-Regular";
}

.IntegralMedium {
    font-family: "IntegralCF-Medium";
}

.IntegralHeavyOb {
    font-family: "IntegralCF-HeavyOblique";
}




#navigator{
	width: 300px;
	height:100%;
	position: fixed;
	top: 0;
	left: -300px;
	float: left;
	z-index: 10;
    box-shadow: 1px 0 10px 5px #0000001a;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 15px 15px;
    background-color: white;
}

.drawer__container{
    .js-drawer-close{
        padding-bottom: 20px;
        .icon-close{
            font-size: 1.5em;
        }
    }
    .site-header__logo{
        a{
            font-family: "ArtifexCF-Regular";
            color: #69b0be;
            display: inline-block;
            vertical-align: middle;
        }

    }

    .drawer-nav__item{
        a:hover{
            opacity: 0.7;
        }
    }

    .drawer-social{
        padding: 60px 20px 20px;
        .social-list{
            display: flex;
            justify-content: space-between;
        }
    }

}

