body {
}

.form-container.AddToCartForm {
    --payment-terms-background-color: #ffffff;
}

.tpmBanner {
    img {
        width: 100%;
    }
}

.slick-list {
    height: 60vh;
    img {
        object-fit: cover;
        height: 60vh;
    }
}

.tinyGlow {
    text-align: center;
}
img.center {
    margin: auto;
}

.link-container {
    font-family: Arial, Helvetica, sans-serif !important;
}

@font-face {
    font-family: "ArtifexCF-Regular";
    src: url("/fonts/ArtifexCF-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ArtifexCF-RegularItalic";
    src: url("/fonts/ArtifexCF-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ArtifexCF-ExtraBold";
    src: url("/fonts/ArtifexCF-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "ArtifexCF-Heavy";
    src: url("/fonts/ArtifexCF-Heavy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ArtifexCF-ExtraLight";
    src: url("/fonts/ArtifexCF-ExtraLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IntegralCF-Regular";
    src: url("/fonts/IntegralCF-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IntegralCF-RegularOblique";
    src: url("/fonts/IntegralCF-RegularOblique.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IntegralCF-Medium";
    src: url("/fonts/IntegralCF-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IntegralCF-Heavy";
    src: url("/fonts/IntegralCF-Heavy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IntegralCF-HeavyOblique";
    src: url("/fonts/IntegralCF-HeavyOblique.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.ArtifexRegular {
    font-family: "ArtifexCF-Regular" !important;
}

.ArtifexRegularWhite {
    font-family: "ArtifexRegular";
    color: #fff !important;
}

.White {
    color: #fff !important;
}

.ArtifexRegularNoCaps {
    font-family: "ArtifexCF-Regular" !important;
    text-transform: none !important;
}
.ArtifexHeavy {
    font-family: "ArtifexCF-Heavy" !important;
}
.ArtifexHeavySpaced {
    font-family: "ArtifexCF-Heavy";
    letter-spacing: 2px;
}

.ArtifexLight {
    font-family: "ArtifexCF-ExtraLight";
}

.ArtifexItalic {
    font-family: "ArtifexCF-RegularItalic";
}

.IntegralRegular {
    font-family: "ArtifexCF-Regular";
}

.IntegralMedium {
    font-family: "IntegralCF-Medium";
}

.IntegralHeavyOb {
    font-family: "IntegralCF-HeavyOblique";
}

.IntegralRegular {
    font-family: IntegralCF-Regular;
}
.IntegralRegularSpaced {
    font-family: IntegralCF-Regular;
    letter-spacing: 2px;
}
.IntegralRegularHalfSpaced {
    font-family: "IntegralCF-Regular" !important;
    letter-spacing: 1px;
}
.IntegralCopyright {
    font-family: IntegralCF-Regular;
    letter-spacing: 2px;
    font-size: 0.8em;
}
.IntegralRegularSpacedNoWrap {
    font-family: IntegralCF-Regular;
    letter-spacing: 2px;
    white-space: nowrap;
}
.IntegralMedium {
    font-family: IntegralCF-Medium;
}
.IntegralRegularSpaced {
    letter-spacing: 0.1em !important;
    font-family: IntegralCF-Regular !important;
}

#navigator {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    float: left;
    z-index: 10;
    box-shadow: 1px 0 10px 5px #0000001a;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 15px 15px;
    background-color: white;
}

.drawer__container {
    .js-drawer-close {
        padding-bottom: 20px;
        .icon-close {
            font-size: 1.5em;
        }
    }
    .site-header__logo {
        a {
            font-size: 28px;
            font-family: "IntegralCF-Medium";
            letter-spacing: 2px;
            text-align: center;
            color: #69b0be;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .drawer-nav__item {
        a:hover {
            opacity: 0.7;
        }
    }

    .drawer-social {
        padding: 60px 20px 20px;
        .social-list {
            display: flex;
            justify-content: space-between;
        }
    }
}

//Hide Apparel Link

ul.site-nav {
    li:nth-child(3) {
        // display: none;
    }
}

ul.footer-nav {
    // li:nth-child(4),
    li:nth-child(8) {
        display: none;
    }
}

ul.drawer-nav{
    li:nth-child(3) {
        // display: none;
    }
}


#jarallax-container-0{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    img{
        opacity: 1;
        object-fit: cover;
        object-position: 50% 50%;
        max-width: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 1807px;
        height: 988.4px;
        overflow: hidden;
        pointer-events: none;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        will-change: transform, opacity;
        margin-top: 152.8px;
        transform: translate3d(0px, -84.0625px, 0px);
    }
}

#banner-cover{
    width: 100%;
    background-color: red;
    padding: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    @media all and (min-width:1400px){
        height: 500px;
    }
    @media all and (max-width: 768px){
        display: none;
    }
    overflow: hidden;
    img{
        margin: 0;
        display: block;
         object-fit:cover;
    
        
    }
}

.shirt-gallery{

    .slick-list{
        @media all and (max-width: 768px){
            margin-bottom: 10vh;
        }
    }

.slick-prev{
        background-image: url('/assets/Ic_chevron_left_48px.png'); 
        &:hover{
            background-color: white;
        background-image: url('/assets/Ic_chevron_left_48px.png'); 
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        }   
} 

.slick-next{
    background-image: url('/assets/Ic_chevron_right_48px.png');
    &:hover{
        background-color: white;

        background-image: url('/assets/Ic_chevron_right_48px.png');
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;

        }   
}
.slick-arrow{
    opacity: .6;
    background-color: white;
    border: 2px solid black;
    border-radius: 100%;
    overflow: hidden;
    color: transparent;
    text-indent: 9999em;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    display: block;  
    width: 40px;
    height: 40px;
    color: black;

}

}


.molly{
    margin-top: 10vh;
}